body {
	background-color:black; color:white; text-align:center;
}

div {
	display: inline-block; width:100%; text-align:center;
}

h1{
    color:white;
}

h2{
    color:gray;
}

.cadre {
	 display: inline-block; padding:10px;; color:white; border: 1px solid white; border-radius:7px; background-image:radial-gradient(gray,black); padding:10px;
}

.cadre200 {
	 display: inline-block; width: 200px; color:white; border: 1px solid white; border-radius:7px; background-image:radial-gradient(gray,black); padding:10px;
}

.cadre400 {
	 display: inline-block; width: 400px; color:white; border: 1px solid white; border-radius:7px; background-image:radial-gradient(gray,black); padding:10px;
}

.cadre820 {
	 display: inline-block; width: 820px; color:white; border: 1px solid white; border-radius:7px; background-image:radial-gradient(gray,black); padding:10px;
}

.ligne120 {
	 display: inline-block; width: 120px; 
}

.ligne180 {
	 display: inline-block; width: 180px; 
}

.ligne200 {
	 display: inline-block; width: 200px; 
}

.ligne250 {
	 display: inline-block; width: 250px; 
}

.mt5 {
    margin-top:5px;
}

.mt50 {
    margin-top:50px;
}

.mt100 {
    margin-top:100px;
}

.mb100 {
    margin-bottom:100px;
}

.ta-l  {
    text-align:left;
}

.ta-r  {
    text-align:right;
}

.va-t {
    vertical-align:top;
}

a {
	color:orange; text-decoration:none;
}

table, th, td {
	border: 1px solid white;
}
